
body {
  background-color: rgb(43, 33, 33);
}

.App {
  color: white;
  text-align: center;
}

.container {
  display: flex;
  justify-content: center;
}

.page {
  display: block;
}

.title {
  display: block;
  padding: 1%;
  margin: 2%;
}

textarea {
  display: block;
  padding: 2%;
  font-size: 18px;
  background-color: rgb(222, 213, 213);
  width: 520px;
  height: 470px;
}

#preview {
  display: block;
  padding: 2%;
  margin-left: 7%;
  background-color: rgb(40, 42, 46);
  color: rgb(247, 243, 7);
  width: 520px;
  height: 470px;
  text-align: left;
  overflow: auto;
}

#clear {
  background: #6262bf;
  color: rgb(222, 213, 213);
  border: none;
  border-radius: 5px;
  font-size: 16px;
  padding: 8px;
}

#clear:hover {
  background-color: #7f79c7;
}